.botao-primario{
    display: inline-block;
    background: $botaoPrimario;
    padding: 5px  20px;
    border-radius: 5px;
    color: white;

    &hover
    {
        background: darken($botaoPrimario, 10%);
        color: white;
        text-decoration: none;

    }

    
}

.botao-secundario
{
    display: inline-block;
    background: $botaoSecundario;
    padding: 5px 20px;
    border-radius: 5px;
    color: white;

    &hover
    {
        background: darken($botaoSecundario, 10px);
        color: white;
        text-decoration: none;

    } 

}